.img-box {
    width: 100%;
}

.img-box img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.newsCat {
    border: 1px solid rgb(212, 212, 212);
    padding: 0.7rem;
    border-radius: 0.2rem;
}

.des {
    font-size: 1.4rem;
}

.detTitle {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 1rem 0;
}